<%= render 'shared/header' %>

<h1>Groups</h1>

<%= form_tag(groups_path, method: 'get') do %>
  <div class="filter-form">
    <%= label_tag 'org_type', 'Organization Type:' %>
    <%= select_tag 'org_type', options_for_select(['Company', 'Nonprofit', 'Volunteer Group', 'Other'], params[:org_type]), prompt: 'Select Organization Type' %>

    <%= label_tag 'search', 'Search by Name:' %>
    <%= text_field_tag 'search', params[:search], placeholder: 'Enter group name' %>

    <%= submit_tag 'Filter', class: 'btn btn-primary' %>

    <% if params[:org_type].present? || params[:search].present? %>
      <%= link_to 'Reset', groups_path, class: 'btn btn-secondary' %>
    <% end %>
  </div>
<% end %>

<table class="listing" summary="Group list" style="width: 100%;">
  <tr class="header">
    <th><%= link_to "Name", { sort: 'name', direction: (params[:sort] == 'name' && params[:direction] == 'asc') ? 'desc' : 'asc' } %></th>
    <th><%= link_to "Organization Type", { sort: 'org_type', direction: (params[:sort] == 'org_type' && params[:direction] == 'asc') ? 'desc' : 'asc' } %></th>
    <th><%= link_to "Total Donations", { sort: 'total_donations', direction: (params[:sort] == 'total_donations' && params[:direction] == 'asc') ? 'desc' : 'asc' } %></th>
    <th>Actions</th>
  </tr>
  <% @groups.each do |group| %>
    <tr>
      <td style="text-align: center;"><%= group.name %></td>
      <td style="text-align: center;"><%= group.org_type %></td>
      <td style="text-align: center;"><%= number_to_currency(group.total_donations, unit: '$', precision: 2) %></td>
      <td style="text-align: center;">
        <%= link_to "Show", group_path(group), class: 'action show' %>
        <%= link_to "Edit", edit_group_path(group), class: 'action edit'  %>
        <%= link_to "Delete", delete_group_path(group), class: 'action delete' %>
      </td>
    </tr>
  <% end %>
</table>

<%= link_to "New Group", new_group_path %>
