<!-- app/views/users/show.html.erb -->

<h1>User Details</h1>
<p><strong>Name:</strong> <%= @user.name %></p>
<p><strong>Email:</strong> <%= @user.email %></p>
<p><strong>User Type:</strong> <%= @user.user_type %></p>
<p><strong>Number of Donations:</strong> <%= @user.count_donations %></p>
<p><strong>Total Donations:</strong> <%= number_to_currency(@user.calculate_total_donations, unit: '$', precision: 2) %></p>
<p><strong>Group:</strong> <%= @user.group_name %></p>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %> |
<%= link_to 'View Donations', donation_history_user_path(@user) %>
