<h1>Donation Details</h1>

<p><strong>Campaign Name:</strong> <%= @campaign.name %></p>
<p><strong>Goal Amount:</strong> <%= @campaign.goal_amount %></p>
<p><strong>Start Date:</strong> <%= @campaign.start_date %></p>
<p><strong>End Date:</strong> <%= @campaign.end_date %></p>

<%# show list of donations by  %>

<%= link_to 'Edit', edit_campaign_path(@campaign) %> |
<%= link_to 'Back', campaigns_path %>